@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Guidance for reviewing evidence";
    ViewData["Layout"] = "two_thirds";
}

<a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p>To find out if the children of a parent or guardian are entitled to free school meals, you’ll need to review the supporting evidence they've provided. </p>
<p>Choose the relevant section from the evidence list for tailored guidance on how to review.</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Universal credit statement(s)
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body">To see if a parent or guardian can claim free school meals for their children, you must find their <strong>take-home pay</strong> in the Universal Credit statement(s) they’ve provided.</p>
            <p><strong>Important:</strong> Any statements provided must show the parent/guardian’s income and the date it was sent.</p>
            <p>Their latest statement should refer to the month immediately before the date of their request.</p>
            <p>They are entitled if: </p>
            <ul class="govuk-list--bullet">
                <li>the take-home pay in their latest Universal Credit statement is <strong>less than £616.67</strong></li>
                <li>the take-home pay for their most recent statement + the one covering the month directly before = less than <strong>£1,233.34</strong> </li>
                <li>the take-home pay from their most recent statement + the one covering the month directly before + the one covering the month directly before that = <strong>less than £1,850.00</strong> </li>
            </ul>
            <p>In line with these checks, the annual net earned income of the parent or guardian must be no higher than <strong>£7,400.</strong></p>
            <p>It’s preferable that you conduct all three checks if possible. However, if you don’t have three consecutive Universal Credit statements, you can use any combination of the checks to make a decision. </p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Support under part VI of the Immigration and Asylum Act 1999
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p>When checking an applicant with an asylum support reference number (formerly NASS number), a document proving they are receiving relevant support under part VI of the Immigration and Asylum Act 1999 is needed. This may include:</p>
            <ul>
                <li>a letter from the Home Office</li>
                <li>a visa or student visa</li>
                <li>other kinds of documentation, to be  reviewed at your discretion</li>
            </ul>
            <p>If the document provided  demonstrates that they receive such support, this is sufficient evidence for them to claim free school meals for their children.</p>
            <p>Note that some asylum seekers with a support reference number are claiming asylum under part IV of the Immigration and Asylum Act 1999. These claimants are not eligible.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Income Support
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p>To see if a parent or guardian can claim free school meals for their children, check their Letter of Entitlement from the Department for Work and Pensions.</p>
            <p>If the letter states they are currently in receipt of Income Support, they also count as being entitled to free school meals.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Income based Jobseeker's Allowance (JSA)
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p>To see if a parent or guardian can claim free school meals for their children, check their Letter of Entitlement from the Department for Work and Pensions.</p>
            <p>If the letter states they are currently in receipt of income  based  Jobseeker’s Allowance (JSA), they also count as being entitled to free school meals.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                    Pension Credit
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            <p>To see if a parent or guardian can claim free school meals for their children, check their Letter of Entitlement from the Department for Work and Pensions. This will typically be a Pension Credit M1000 Award Notice.</p>
            <p>If the letter states they are currently in receipt of Pension Credit, they also count as being entitled to free school meals.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                    Child Tax Credit
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
            <p>The parent or guardian needs to provide their latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal). The statement must be for the most recent tax year.</p>
            <p>They are entitled to claim free school meals for their children if:</p>
            <ul>
                <li>Child Tax Credit is in payment</li>
                <li>Working Tax Credit is not also in payment - unless it is four week Working Tax Credit run on (see relevant section)</li>
                <li>their annual gross income is no more than £16,190</li>
            </ul>
            <p>Alternatively, you can contact the DfE support desk on <a href="mailto:ecs.admin@education.gov.uk">ecs.admin@education.gov.uk</a> to arrange a separate check.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                    Working Tax Credit run on
                </span>
            </h2>
        </div>

        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
            <p>The parent or guardian needs to provide their latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal). The statement must be for the most recent tax year.</p>
            <p>If either of these forms show that  Working Tax Credit run-on is in payment, then they are entitled to claim free school meals for their children.</p>
            <p>Alternatively, you can contact the DfE support desk on <a href="mailto:ecs.admin@education.gov.uk">ecs.admin@education.gov.uk</a> to arrange a separate check.</p>
            <p>You can also <a target="_blank" href="https://assets.publishing.service.gov.uk/media/63d92829d3bf7f251e968cdb/Free_school_meals.pdf">read more in-depth free school meals guidance on GOV.UK.</a></p>
        </div>
    </div>

</div>