@{
    ViewData["Title"] = "Checking Loader";
    ViewData["ServiceName"] = "Check a family's eligibility";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="flex-container">
            <div class="container">
                <h1 class="govuk-heading-l">
                    Checking
                </h1>
                <p class="govuk-body-l">Please wait. This may take a few minutes</p>

                <span id="counter">25</span>
                <span id="totalCounter">@TempData["totalCounter"]</span>/
                <span id="currentCounter">@TempData["currentCounter"]</span>

              
                <div class="govuk-!-padding-bottom-5"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '@Url.Action("Batch_loader", "School")',
                type: 'GET',
                success: function (data) {
                    document.open()
                    document.write(data)
                    document.close()
                }
            });
        }, 1000); 
    });
</script>