@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-column-full">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>