@model CheckYourEligibility_FrontEnd.Models.Children

@{
    ViewData["Title"] = "Provide details of your children";
    ViewData["ServiceName"] = "Check a family's eligibility";
}

@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Error: Check Details";
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
}

<h1 class="govuk-heading-l" tabindex="-1">
    Provide details of your children
</h1>

<p>Include all your children who are in compulsory education. You can use the add another option, if you have more than one child.</p>

<form asp-controller="Check" asp-action="Enter_Child_Details" method="post" novalidate>
    @for (int i = 0; i < Model.ChildList.Count; i++)
    {
        <div id="childNumber@(@i)">
        <fieldset class="govuk-fieldset moj-add-another__item">
            <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
                Child @(@i + 1) details
            </legend>

            @if (i > 0){
            <button asp-controller="Check" asp-action="Remove_Child" asp-route-index="@i" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4 delete-button" data-module="govuk-button">
                Remove Child @(i + 1)
            </button button>
            }

            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="ch1-first-name">
                    First name
                </label>
                <p class="govuk-error-message">
                    <span asp-validation-for="ChildList[i].FirstName"></span>
                </p>

                <input asp-for="ChildList[i].FirstName" id="ChildList[@i].FirstName" class="govuk-input govuk-!-width-two-thirds" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold">
                    Last name
                </label>
                <p class="govuk-error-message">
                    <span asp-validation-for="ChildList[i].LastName"></span>
                </p>
                <input asp-for="ChildList[i].LastName" id="ChildList[@i].LastName" class="govuk-input govuk-!-width-two-thirds" type="text">
            </div>

            <div class="govuk-form-group" data-type="dob-form-group">
                <fieldset class="govuk-fieldset" role="group">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Date of birth
                    </legend>

                    <div id="dob-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>

                    <div class="govuk-date-input" id="dob">

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group" data-type="dob-input">
                                <label class="govuk-label govuk-date-input__label" for="ch1-day">
                                    Day
                                </label>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="ChildList[i].Day"></span>
                                </p>
                                <input asp-for="ChildList[i].Day" id="ChildList[@i].Day" data-type="dob" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric">
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group" data-type="dob-input">
                                <label class="govuk-label govuk-date-input__label" for="ch1-month">
                                    Month
                                </label>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="ChildList[i].Month"></span>
                                </p>
                                <input asp-for="ChildList[i].Month" id="ChildList[@i].Month" data-type="dob" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric">
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group" data-type="dob-input">
                                <label class="govuk-label govuk-date-input__label" for="ch1-year">
                                    Year
                                </label>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="ChildList[i].Year"></span>
                                </p>
                                <input asp-for="ChildList[i].Year" id="ChildList[@i].Year" data-type="dob" class="govuk-input govuk-date-input__input govuk-input--width-4" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
        </div>
    }

    <div class="add-button-container">
        <div class="moj-button-action">
            <button asp-controller="Check" asp-action="Add_Child" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                Add another child
            </button>
        </div>
    </div>

    <div class="moj-button-action">
        <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
            Save and continue
        </button>
    </div>
</form>


<script src="/js/validationSummary.js"></script>
<script src="/js/schoolSearch.js"></script>
<script src="/js/focusChildNameInput.js"></script>