<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Your children may not be entitled to free school meals</h1>
    <p> Based on the information you’ve provided, we cannot confirm if your children are entitled to free school meals. </p>
    <p>If you think that they definitely are entitled, you can show supporting evidence to your school to help us re-assess.</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Accepted kinds of supporting evidence
                    </span>
                </h2>
            </div>

            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p><strong>Important: </strong> Please do not send any documents which do not meet the criteria that follows. </p>
                <p>To support your claim for free school meals, you can send your: </p>
                <ul>
                    <li>latest Universal Credit statements (up to three) </li>
                    <li>
                        latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing you are receiving Working Tax Credit run-on
                    </li>
                    <li>
                        latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing you are receiving Child Tax Credit
                    </li>
                    <li>
                        Letter of Entitlement for Income Support
                    </li>
                    <li>
                        Letter of Entitlement for income-based Jobseeker’s Allowance
                    </li>
                    <li>
                        Letter of Entitlement for the guaranteed element of Pension Credit
                    </li>
                    <li>document showing you are receiving relevant support under part VI of the Immigration and Asylum Act 1999 </li>
                </ul>

                <h3 class="govuk-heading-s">Further guidance </h3>
                <p>More in-depth information on supporting evidence can be found in the guidance notes for parents and guardians. </p>
            </div>
        </div>
    </div>

    <p><a href="../account/start-now">Return to start now</a></p>
</div>