@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Applying for free school meals - Guidance for parents and guardians";
    ViewData["Layout"] = "two_thirds";
}

<a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>
<h2 class="govuk-heading-m">Who can get free school meals?</h2>

<p class="govuk-body">Free school meals are available to pupils whose parents are receiving one or more of the following benefits, and meet the key conditions attached to each of them.</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Universal Credit</li>
    <li>Income based Jobseeker’s Allowance</li>
    <li>Income Support</li>
    <li>support under Part VI of the Immigration and Asylum Act 1999</li>
    <li>Pension Credit</li>
    <li>Child Tax Credit</li>
    <li>Working Tax Credit run on </li>
    <p class="govuk-body">Older individuals who have their own National Insurance number and receive these benefits directly – rather than through a parent and guardian – are also entitled to free school meals if they meet the relevant conditions.</p>
</ul>

<h2 class="govuk-heading-m">How to apply for free school meals</h2>
<p class="govuk-body">Follow these steps to apply for free school meals:</p>
<ol class="govuk-list govuk-list--number">
    <li>Go to <a href="https://www.freeschoolmealschecker.gov.uk " class="govuk-link">www.freeschoolmealschecker.gov.uk </a> to find out if you can claim free school meals for your children.</li>
    <li>If you can, complete an application form in full at <a href="https://www.freeschoolmeals.gov.uk " class="govuk-link">www.freeschoolmeals.gov.uk </a> - or a paper form from your children’s school.</li>
    <li>Your application will be processed, with your information being exchanged between the school and local authority via secure websites.</li>
    <li>You will receive a decision from the school and, if successful, the start date for free school meals.</li>
</ol>

<h2 class="govuk-heading-m">Providing the right evidence</h2>
<p class="govuk-body">If asked to, you’ll need to provide evidence in support of your free school meals application. You should also provide evidence if your application is unsuccessful and you want to re-apply.</p>
<p class="govuk-body">Choose the relevant section to find out more about each evidence type – and what counts as acceptable evidence.   </p>









<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Universal credit statement(s)
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <p class="govuk-body">You can provide up to three of your most recent Universal Credit statements as evidence.</p>
            <p>These must show your take-home pay and the dates they were sent out. </p>
            <p>Your annual net earned income must <strong>no higher than £7,400</strong>  (after tax and including any benefits you get).</p>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Support under part VI of the Immigration and Asylum Act 1999
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <p>If you are an asylum seeker, you will need to provide a document that shows you are receiving relevant support under part VI of the Immigration and Asylum Act 1999. It should also show your asylum support reference number.</p>
            <p>This will typically be a letter from the Home Office.</p>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Income Support
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

            <p>You can provide a Letter of Entitlement from the Department for Work and Pensions as evidence.</p>
            <p>If this states that you are currently in receipt of Income Support, it will allow you to claim free school meals.</p>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Income based Jobseeker's Allowance (JSA)
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">

            <p>You can provide a Letter of Entitlement from the Department for Work and Pensions as evidence.</p>
            <p>If this states that you are currently in receipt of income based Jobseeker’s Allowance (JSA), it will allow you to claim free school meals..</p>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                    Pension Credit
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">

            <p>You can provide a Letter of Entitlement from the Department for Work and Pensions as evidence. This will typically be a Pension Credit M1000 Award Notice.</p>
            <p>If this states that you are currently in receipt of Pension Credit, it will allow you to claim free school meals.</p>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                    Child Tax Credit
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">

            <p>You can provide your latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal) as evidence. The statement must be for the most recent tax year.</p>
            <p>You are entitled to claim free school meals if:</p>
            <ul>
                <li>Child Tax Credit is in payment</li>
                <li>Working Tax Credit is not also in payment - unless it is four week Working Tax Credit run on (see relevant section)</li>
                <li>their annual gross income is no more than £16,190</li>
            </ul>

        </div>
    </div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                    Working Tax Credit run on
                </span>
            </h2>

        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">

            <p>You can provide your latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal) as evidence. The statement must be for the most recent tax year.</p>
            <p>If either of these forms show that Working Tax Credit run-on is in payment, you are entitled to claim free school meals.</p>

        </div>
    </div>
</div>

<h2 class="govuk-heading-m">Ongoing entitlement to free school meals</h2>
<p class="govuk-body">Pupils who are entitled to free school meals will remain so until they finish the phase of schooling they are in on 31st March 2025. </p>
<p class="govuk-body">This remains the case regardless of any changes in guardian or financial circumstances. The exception to this rule is children who are not entitled who go into local authority care. </p>
<p class="govuk-body">There is no need to request further checks as free school meals entitlement is recorded on the term census. </p>
<p class="govuk-body">You can voluntarily withdraw your children (or yourself) from free school meals if you wish. Doing so will not invalidate entitlement, and you can always ask for access to free school meals to be reinstated. </p>

<h2 class="govuk-heading-m">Free school meals for families with no recourse to public funds (NRPF)</h2>
<p class="govuk-body">Children in households with no recourse to public funds (NRPF) are also entitled to free school meals, subject to key conditions. </p>
<p class="govuk-body">Groups who may be entitled to claim free school meals under NRPF include: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>Zambrano carers</li>
    <li>families who have no recourse to public funds, but have a right to remain in the UK on grounds of private and family life under Article 8 of the European Convention on Human Rights</li>
    <li>families receiving support under Section 17 of the Children Act 1989 who are also subject to a no recourse to public funds restriction</li>
    <li>a subset of unsuccessful asylum seekers who are supported under Section 4 of the Immigration and Asylum Act 1999</li>
    <li>Chen carers</li>
    <li>families holding a BN(O) Passport</li>
    <li>spousal visa holders</li>
    <li>work visa holders</li>
    <li>student visa holders</li>
    <li>those with no immigration status</li>
</ul>
<p class="govuk-body">Parents should inform the school about any change in their financial situation. </p>
<h2 class="govuk-heading-s">Key conditions – maximum annual incomes</h2>
<p class="govuk-body">As part of the permanent extension of free school meal entitlement to all NRPF groups, those families able to work must be earning no more than the following maximum annual household incomes: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>£22,700 for families with 1 child</li>
    <li>£26, 300 for families with 2 or more children</li>
</ul>

<h2 class="govuk-heading-m">Further support</h2>
<p class="govuk-body">If you need more support, speak to your children’s school. They should be able to advise you on your free school meal status and application. </p>