@{
    ViewData["Title"] = "Check Details";
    ViewData["ServiceName"] = "Check a family's eligibility";
}

<h1 class="govuk-heading-l">Enter your details</h1>
<form action="/soft-check-ni-answer" method="post" novalidate="">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is your name?
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="first-name">
                Parent's first name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="surname">
                Parent's last name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="surname" name="surname" type="text">
        </div>
    </fieldset>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                What is your date of birth?
            </legend>

            <div id="dob-hint" class="govuk-hint">
                For example, 31 3 1980
            </div>

            <div class="govuk-date-input" id="dob">

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-day">
                            Day
                        </label>

                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" inputmode="numeric">

                    </div>
                </div>

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-month">
                            Month
                        </label>

                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" inputmode="numeric">

                    </div>
                </div>

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dob-year">
                            Year
                        </label>

                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" inputmode="numeric">

                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="ni-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you have a National Insurance number?
            </legend>

            <div id="ni-number-hint" class="govuk-hint">
                It’s on your National Insurance card, payslip, P60 or letters about tax, pension and benefits.
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ni-number" name="ni-number" type="radio" value="yes" aria-controls="conditional-ni-number" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="ni-number">
                        Yes
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ni-number">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ni-number-entered">
                            Parent's National Insurance number
                        </label>
                        <div id="ni-number-entered-hint" class="govuk-hint">
                            For example, ‘QQ 12 34 56 C’
                        </div>

                        <input class="govuk-input govuk-!-width-one-third" id="ni-number-entered" name="ni-number-entered" type="text" spellcheck="false" aria-describedby="ni-number-entered-hint" autocomplete="text">
                    </div>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ni-number-2" name="ni-number" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="ni-number-2">
                        No, I do not have one
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Save and continue
    </button>
</form>