@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cookies";
}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Cookies
                </h1>
                <p>Cookies content</p>
            </div>
        </div>
    </main>
</div>
