<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Your children are entitled to free school meals</h1>


    <h2 class="govuk-heading-m">What to do next</h2>

    <p>To get free school meals for your children, follow these steps online. This typically takes just a few minutes.</p>

    <ol>
        <li>Create or sign into your OneGov account.</li>
        <li>Enter the details of your children and their school.</li>
        <li>These will be sent on to the school, which will arrange free school meals.</li>
    </ol>




    <form action="account/signin-or-create" method="post" novalidate>
        <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
            Go to OneGov
        </button>
    </form>
</div>