<a class="govuk-back-link" @Html.ActionLink("Back", "Enter_Details", "Check")</a>
@* <a class="govuk-back-link-nolink"></a> *@

<div class="govuk-grid-row" id="content" data-type="Eligible_LA">
    <div class="govuk-grid-column-full">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Children eligible
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    The children of this parent or guardian are eligible for free school meals.
                </h3>
            </div>
        </div>
        <h1 class="govuk-heading-l">Continue to add children's details</h1>
        <p class="govuk-body">Continue to the next page to add these children's details.</p>

        @Html.ActionLink("Add children's details", "Enter_Child_Details", "Check", null, new { @class = "govuk-button" })
        <p>@Html.ActionLink("Return to dashboard", "index", "home")</p>
        <p> @Html.ActionLink("Sign Out", "SignOut", "Account")</p>
    </div>
</div>