@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<div id="content" data-type="Technical_Error" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- Notification Banner -->
        <div class="govuk-notification-banner"
             role="region"
             aria-labelledby="govuk-notification-banner-title"
             data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Check failed
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    There's been a technical error.
                </p>
                <p>
                    <a href="@Url.Action("Enter_Details", "Check")" class="govuk-link">
                        Try again later
                    </a>, ensuring you've entered the parent or guardian details accurately.
                </p>
            </div>
        </div>

        <!-- Additional Help Section -->
        <h1 class="govuk-heading-l">If the check keeps failing</h1>
        <p>
            Contact the
            <a href="@Configuration["ContactUsUrl"]" class="govuk-link">
                Department for Education support desk.
            </a>.
        </p>
    </div>
</div>