@model CheckYourEligibility_FrontEnd.Models.FsmApplication

@{
    ViewData["Title"] = "Check Answers";
}

@* <a class="govuk-back-link" href="#" onclick="history.back(); return false;">Back</a> *@
<a class="govuk-back-link-nolink"></a>

@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Check Answers";
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
}

<h1 class="govuk-heading-l">Check your answers before registering</h1>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Parent or guardian details
        </h2>

    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Parent or guardian name
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Parent or guardian date of birth
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Asylum support reference number
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    edamcheese@hitmail.com
                </dd>

            </div>
        </dl>
    </div>
</div>


<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Child 1
        </h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Child details</span></a>
            </li>

        </ul>
    </div>

    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Child's name
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    School
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Child's date of birth
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

            </div>



        </dl>
    </div>
</div>
















<h2 class="govuk-heading-m">Confirm details and send to the school</h2>

<p class="govuk-body">By sending this information on to the school you confirm that, to the best of your knowledge, it is correct.</p>
<p>Your details are only used to register and will not be stored.</p>




<form action="application-sent" method="post" novalidate="">

    <input type="hidden" name="answers-checked" value="true">


    <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Submit application
    </button>


</form>
<script src="/js/validationSummary.js"></script>