@{
    ViewData["Title"] = "Could not check eligibility";
}

<div id="content" data-type="ErrorNotAccepted">
    <a class="govuk-back-link-nolink"></a>

    <div class="govuk-error-summary govuk-grid-column-full" data-module="govuk-error-summary" id="content" data-type="success">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                Error – File not accepted
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        There’s an issue with the file you uploaded. Please try again, making sure any file you upload exactly mirrors the layout of the original bulk check template you downloaded, with no extra or missing columns.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p><a href="/TryAgain" onclick="history.back(); return false;">Try again</a>></p>
    <p><a href="@Url.Action("Index", "Home")">Return to dashboard</a></p>
    <p> @Html.ActionLink("Sign Out", "SignOut", "Account")</p>
</div>