@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cookies";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
    @* <a class="govuk-back-link-nolink"></a> *@

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewData["Title"]</h1>

    <p>The Check if a child can get free school meals service puts small files (known as ‘cookies’) onto your computer
        to collect information about how you browse the site. </p>

    <p>Cookies are used to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>measure how you use the website so it can be updated and improved based on your needs</li>
        <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
        <li>store various settings you have selected so they will be used when you return to the site.</li>
    </ul>

    <p>GOV.UK cookies aren’t used to identify you personally. You’ll normally see a message on the site before we store
        a cookie on your computer.</p>

    <p>Find out more about <a href="http://www.aboutcookies.org/">how to manage cookies</a>. </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">How cookies are used on this service</h2>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Measuring website usage (Google Analytics)</h2>

    <p>We use Google Analytics software to collect information about how you use GOV.UK. We do this to help make sure
        the site is meeting the needs of its users and to help us make improvements.</p>

    <p>Google Analytics stores information about:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>the pages you visit on this service</li>
        <li>how long you spend on each page</li>
        <li>how you got to the site</li>
        <li>what you click on while you’re visiting the site</li>
    </ul>

    <p>We don’t collect or store your personal information (for example, your name or address) so this information can’t
        be used to identify who you are.</p>

    <p>We don’t allow Google to use or share our analytics data. </p>

    <p>Google Analytics sets the following cookies: </p>
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Google Analytics sets the following cookies:</td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">This helps us count how many people visit GOV.UK by tracking if you’ve visited
                before
            </td>
            <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga_9YG8ESXR5Y</td>
            <td class="govuk-table__cell">Used by Google Analytics to find and track an individual session with your
                device
            </td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        </tbody>
    </table>
    <p>You can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>. </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Our introductory message </h2>

    <p>You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer
        knows you’ve seen it and knows not to show it again. </p>

    <table class="govuk-table" aria-label="Cookies that measure website usage">
        <thead class="govuk-table__head">
        <tr>
            <th scope="col" class="govuk-table__header">
                Name
            </th>
            <th scope="col" class="govuk-table__header">
                Purpose
            </th>
            <th scope="col" class="govuk-table__header">
                Expires
            </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr>
            <td class="govuk-table__cell">
                ees_banner_seen
            </td>
            <td class="govuk-table__cell">
                Saves a message to let us know that you’ve seen our cookie message
            </td>
            <td class="govuk-table__cell">
                1 year
            </td>
        </tr>
        <tr>
            <td class="govuk-table__cell">
                ees_user_testing_banner_seen
            </td>
            <td class="govuk-table__cell">
                Saves a message to let us know that you’ve seen our user testing invite message
            </td>
            <td class="govuk-table__cell">
                1 year
            </td>
        </tr>
        </tbody>
    </table>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Your cookie settings</h2>

            <p>We will store your cookie settings as a cookie, so that they remain if you return to GOV.UK: Explore
                education statistics. </p>

            <table class="govuk-table" aria-label="Cookies that measure website usage">
                <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        ees_disable_google_analytics
                    </td>
                    <td class="govuk-table__cell">
                        Disables Google Analytics tracking
                    </td>
                    <td class="govuk-table__cell">
                        10 years
                    </td>
                </tr>
                </tbody>
            </table>

            <p>You can <a href="https://explore-education-statistics.service.gov.uk/cookies">change which cookies you're
                    happy for us to use</a>.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Microsoft Application Insights </h2>

            <p>Microsoft Application Insights collects telemetry information. </p>

            <table class="govuk-table" aria-label="Cookies that measure website usage">
                <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        ai_user
                    </td>
                    <td class="govuk-table__cell">
                        Used to identify returning users
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        ai_sessionx
                    </td>
                    <td class="govuk-table__cell">
                        Anonymous session identifer to group a user's activities
                    </td>
                    <td class="govuk-table__cell">
                        15 minutes
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Check if a child can get free school meals - Cookies</h2>

            <p>These cookies are specific to this service. </p>

            <table class="govuk-table" aria-label="Cookies that measure website usage">
                <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Change your cookie settings</h2>
            <form id="cookie-form" action="/form-handler" method="post" novalidate>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Do you want to accept analytics cookies?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="cookies-analytics-yes" name="cookies[analytics]"
                                       type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="cookies-analytics-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="cookies-analytics-no" name="cookies[analytics]"
                                       type="radio" value="no" checked>
                                <label class="govuk-label govuk-radios__label" for="cookies-analytics-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save cookie settings
                </button>
            </form>
        </div>
    </div>
</div>