@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Apply for free school meals with a form";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
    @* <a class="govuk-back-link-nolink"></a> *@

    <div class="govuk-grid-row">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2">@ViewData["Title"]</h1>

        <p>Download and complete this form if you cannot check free school meal entitlement online.</p>

        <section>
            <div class="govuk-grid-column-one-quarter">
                <a target="_blank" tabindex="-1" aria-hidden="true" href="/documents/fsm_application.pdf">
                    <img alt="" class="" src="/images/fsm-form-thumbnail.png">
                </a>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">
                    <a target="_blank" href="/documents/fsm_application.pdf">Free School Meals claim form</a>
                </h2>
                <p>Ref: FSM2024</p>
                <p><span><abbr title="Portable Document Format">PDF</abbr></span>, <span>430 KB</span>, <span>4 pages</span></p>
                <p>This file may not be suitable for users of assistive technology.</p>
            </div>
        </section>

    </div>


    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Request an accessible form
            </span>
        </summary>
        <div class="govuk-details__text">
            If you use assistive technology (such as a screen reader) and need a version of this document in a more
            accessible format, please email <a href="mailto:different.format@hmrc.gov.uk">different.format@hmrc.gov.uk</a>. Please tell us what format you need. It will help us
            if you say what assistive technology you use.
        </div>
    </details>

    <div class="govuk-!-padding-bottom-5"></div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">What to do</h2>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        You will need to complete a separate form for each school.
                    </strong>
                </div>

                <p><b>If you have access to a printer</b></p>
                <ol>
                    <li>Download, print off and fill in the 'Free school meals claim form'.</li>
                    <li>Send the completed form into your children's school. This can be sent by post or taken into the school and given to the school administrator.</li>
                    <li>A school administrator will process your claim form and contact you if you need to do anything else.</li>
                </ol>
                <br>
                <p><b>If you do not have access to a printer</b></p>
                <ol>
                    <li>Visit your childrens school and ask them to download the 'Free school meals claim form'.</li>
                    <li>Complete the form with the school administrator if you need help.</li>
                    <li>A school administrator will process your claim form and contact you if you need to do anything else.</li>
                    <li>A school administrator will process your claim form and contact you.</li>
                </ol>
            </div>
        </div>
    </div>
</div>