@using Newtonsoft.Json
@model CheckYourEligibility.Domain.Responses.ApplicationSaveItemResponse

@{
    Layout = "~/Views/Shared/_LayoutNoBackButton.cshtml";
    ViewData["Title"] = "Application Sent";
    ViewData["ServiceName"] = "Check a family's eligibility";

    var responseJson = TempData["FsmApplicationResponses"] as string;
    var responses = JsonConvert.DeserializeObject<List<CheckYourEligibility.Domain.Responses.ApplicationSaveItemResponse>>(responseJson);
}

@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Application Sent";
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
}

<h1 class="govuk-heading-xl" tabindex="-1">Children Details Added</h1>

<p>We have sent details for: </p>
<table class="govuk-table" aria-describedby="children-details-description">
    <caption id="children-details-description" class="govuk-table__caption">List of children whose details have been sent</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Child Name</th>
            <th scope="col" class="govuk-table__header">Child School</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var response in responses)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@response.Data.Reference</td>
                <td class="govuk-table__cell">@response.Data.ChildFirstName @response.Data.ChildLastName</td>
                <td class="govuk-table__cell">@response.Data.School.Name</td>
            </tr>
        }
    </tbody>
</table>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">What happens next</h2>
        <p>The school will email you when they have registered your details, and will arrange for your children's free school meals to start.</p>
    </div>
</div>

<script src="/js/validationSummary.js"></script>
