<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We could not check if this applicant’s children are entitled to free school meals</h1>
        <p>The personal information you entered doesn’t match the departmental records.  </p>
        <p>Please <a href="javascript:window.history.back()">try again</a>, ensuring you’ve entered the parent/guardian details accurately and in the correct format.</p>
        <p><a href="">Return to dashboard</a></p>
        <p><a href="">Sign out</a></p>
    </div>
</div>