@using CheckYourEligibility_FrontEnd.ViewModels
@model ApplicationDetailViewModel

@{
    ViewData["Title"] = @Model.ParentName;
    ViewData["Layout"] = "full";
}

<a class="govuk-back-link" href="@Url.Action("AppealsApplications", "Application")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<div class="moj-page-header-actions">

    <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    </div>


    <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper"></div>
        </div>
    </div>
</div>
@if (Model.Status.Equals("EvidenceNeeded")){
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-heading-s">Once you've received evidence from this parent or guardian:</p>
            <ol class="govuk-list govuk-list--number">
                <li>Send it to your local authority contact along with the application reference number. Typically this would happen via email.</li>
                <li>Select ‘Send for review’ on this page. This will notify the local authority that the free school meals application is ready for their attention.</li>
            </ol>
        </div>
    </div>
</div>
}

@Html.Partial("ApplicationDetailPartial", Model)