@model CheckYourEligibility_FrontEnd.Models.ApplicationSearch;

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Results
        </h1>
        <p>Results page.</p>

    </div>
</div>
