@using CheckYourEligibility_FrontEnd.ViewModels
@model PeopleSelectionViewModel;


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Search results (@Model.People.Count())  
        </h1>

        <p><a href="search">Search again</a> </p>

       <table class="govuk-table">
           <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                   <th class="govuk-table__header" scope="col" id="select-all"></th>
                   <th class="govuk-table__header" scope="col">Reference</th>
                   <th class="govuk-table__header" scope="col">Parent / Guardian</th>
                   <th class="govuk-table__header" scope="col">Child</th>
                   <th class="govuk-table__header" scope="col">Child DOB</th>
                   <th class="govuk-table__header" scope="col"> Status</th>
                   <th class="govuk-table__header" scope="col">Submission date</th>
               </tr>
           </thead>
            @Html.EditorFor(model => model.People)
       </table>

    </div>
    </div>
</div>
