@model CheckYourEligibility_FrontEnd.Models.ApplicationSearch;

@{
    ViewData["Title"] = "Application Search";
    ViewData["ServiceName"] = "Search for an existing application";
}

@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Error: Check Details";
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Search all records
        </h1>
        <p>Fill in any of the fields on this page to find a free school meal record.</p>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <form asp-controller="Application" asp-action="Results" method="post" class="form">


        <!-- SEARCH BAR -->
        <div class="cardDesign">


            <div id="PersonName">

                <div class="govuk-grid-row">


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Child last name
                            </h6>
                            <p class="govuk-error-message">
                                <span asp-validation-for="ChildLastName"></span>
                            </p>
                            <input id="ChildLastName" class="govuk-input" type="text" name="ChildLastName" value="" placeholder="Child surname">

                        </div>
                    </div>
                    <!--COL 1-->


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Parent or guardian last name
                            </h6>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="ParentLastName"></span>
                                </p>
                                <input id="ParentLastName" class="countryAutocomplete govuk-input" type="text" name="ParentLastName" value="" placeholder="Parent last name">
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row">


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Reference number
                            </h6>

                            <input id="Reference" class="govuk-input" type="text" name="Reference" value="" placeholder="Reference number">

                        </div>
                    </div>
                    <!--COL 1-->


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Status
                            </h6>


                            <div class="govuk-form-group">


                                <select class="govuk-select" id="Status" name="Status">


                                    <option value="">All statuses</option>


                                    <option value="Entitled">Entitled</option>


                                    <option value="EvidenceNeeded">Evidence needed</option>


                                    <option value="SentForReview">Sent for review</option>
                                      
                                    <option value="ReviewEntitled">Reviewed entitled</option>

                                    <option value="ReviewedNotEntitled">Reviewed not entitled</option>
                                        
                                    <option value="ReceivingEntitlement">Receiving entitlement</option>


                                </select>

                            </div>


                        </div>
                    </div>

                </div>


                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-quarter">


                    </div>
                </div>


                <!-- CHILD -->
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-quarter">


                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Child date of birth
                                </legend>
                                <div class="govuk-date-input" id="dob">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDOBDay">
                                                Day
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="ChildDOBDay"></span>
                                                </p>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Child-DOB-Day" name="ChildDOBDay" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>


                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDOBMonth">
                                                Month
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="ChildDOBMonth"></span>
                                                </p>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Child-DOB-Month" name="ChildDOBMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDOBYear">
                                                Year
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="ChildDOBYear"></span>
                                                </p>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Child-DOB-Year" name="ChildDOBYear" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>

                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>


                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">


                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Parent or guardian date of birth
                                </legend>
                                <div class="govuk-date-input" id="passport-issued">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="PGDOBDay">
                                                Day
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="PGDOBDay"></span>
                                                </p>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="PG-DOB-Day" name="PGDOBDay" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>

                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="PGDOBMonth">
                                                Month
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="PGDOBMonth"></span>
                                                </p>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="PG-DOB-Month" name="PGDOBMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="PGDOBYear">
                                                Year
                                            </label>
                                                <p class="govuk-error-message">
                                                    <span asp-validation-for="PGDOBYear"></span>
                                                </p>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="PG-DOB-Year" name="PGDOBYear" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
                <!-- SEX -->
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-full">

                        <form action="eligible-list">
                            <button class="govuk-button govuk-button HO-button-white moj-button-menu__item govuk-!-margin-top-6" data-module="govuk-button">
                                Generate results
                            </button>

                        </form>


                    </div>


                </div>


            <!-- EXPLANATIONS REMOVED FOR V2 -->


            </div>
            <!--END SHOW/HIDE -->


        </div>
    </form>

    <!-- END CARD // SEARCH BAR -->


    </div>
</div>